<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group mb-3">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :phone_number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone_number, class: "form-control", autofocus: true, autocomplete: "tel" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-group mb-3">
      <div class="col-sm-offset-2 col-sm-10">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <p class="m-0"><i>(leave blank if you don't want to change it)</i></p>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :current_password, class: "col-sm-2 control-label" %>
    <p class="m-0"><i>(we need your current password to confirm your changes)</i></p>
    <div class="col-sm-10">
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update Profile", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<h3>Delete my account</h3>

<div class="form-group mb-3">
  <div class="col-sm-offset-2 col-sm-10">
    <p class="mb-1">Unhappy? </p>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>

<div class="form-group mb-3">
  <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "Back", root_path %>
  </div>
</div>