<% @books.each do |book| %>
  <div class="card d-inline-flex justify-content-start flex-direction: row mx-3 mb-2 " style="width: 18rem;">
    <%= image_tag url_for(book.book_image) , class: "card-img-top p-1" , alt: "book-image" %>
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center"><%= book.book_name  %></h5>
      <p class="card-text d-flex justify-content-center mb-2 fs-5">₹<%= book.MRP %></p>
      <%= link_to "Show" , book_path(book) ,class: "btn btn-primary d-flex justify-content-center" %>
    </div>
  </div>
<% end %>
<div class="flickr_pagination d-flex justify-content-center mt-3">
  <%= will_paginate @books %>
</div>