<h2 class="mt-4 text-center fw-bold">Your Cart</h2>

<% if @current_cart.cart_items.present? %>
  <div class="container mt-4">
    <% @current_cart.cart_items.each do |item| %>
      <div class="card shadow-sm p-3 mb-4 rounded">
        <div class="row g-3 align-items-center">
          <div class="col-md-3 text-center">
            <%= image_tag url_for(item.book_seller.book.book_image),
              class: "img-fluid rounded", 
              alt: "book-image", 
              width: 180, 
              height: 180 %>
          </div>

          <div class="col-md-6">
            <div class="card-body">
              <h4 class="fw-bold"><%= item.book_seller.book.book_name %></h4>
              <p class="fs-5 text-primary fw-medium">₹<%= item.book_seller.seller_price %></p>
              <p class="fs-6"><strong>Quantity:</strong> <%= item.quantity %></p>

              <%= form_with url: cart_item_path(item.id), method: :patch, local: true do |f| %>
                <div class="row g-2">
                  <div class="col-md-6">
                    <%= f.label :quantity, "Quantity:" , class: "form-label fw-bold" %>
                    <%= f.select :quantity, (1..item.book_seller.quantity).to_a, {prompt: "Select quantity" }, {class: "form-select" , required: true} %>
                  </div>
                  <div class="col-md-6 d-flex align-items-end">
                    <%= f.submit "Update", class: "btn btn-outline-primary w-100" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-md-3 d-flex flex-column justify-content-center">
            <%= link_to "Delete", cart_item_delete_path(item.id), 
              data: { turbo_method: "delete" }, 
              class: "btn btn-danger w-100 mb-2 fw-bold" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="card p-4 shadow-sm rounded">
      <%= form_with url: orders_path, method: :post, local: true do |f| %>
        <h4 class="fw-bold">Shipping Address</h4>
        <%= f.select :address_id, @addresses.map { |a| [a.full_address, a.id] }, { prompt: "Select an address" },{ class: "form-select mb-3", required: user_signed_in? } %>
        <%= f.submit "Place Order", class: "btn btn-success w-100 fw-bold" %>
      <% end %>
    </div>

    <div class="text-center mt-4">
      <p class="fs-4"><strong>Order Total:</strong> ₹<%= @current_cart.total_price %></p>
      <%= link_to "Clear Cart", clear_cart_path(@current_cart.secret_id), 
        data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, 
        class: "btn btn-danger fw-bold mb-5" %>
    </div>
  </div>
<% else %>
  <p class="text-center my-5 fs-4 text-muted">Your cart is empty</p>
<% end %>
