<div class="container mt-4">
  <div class="d-flex align-items-center mb-3">
    <%= link_to raw('<i class="fa-solid fa-arrow-left fa-xl text-primary"></i>'), book_sellers_path, class: "me-3" %>
    <h1 class="mb-0"><%= @book_seller.book.book_name %></h1>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag url_for(@book_seller.book.book_image.representation(resize_to_limit: [305, 466])), class: "rounded shadow-lg img-fluid", alt: "book-image" %>
    </div>

    <div class="col-md-8">
      <div class="card p-4 border border-0">
        <p class="fs-5"><strong>Price: </strong> <span class="text-success">₹<%= @book_seller.seller_price %></span></p>
        <p class="fs-5"><strong>Pages: </strong><%= @book_seller.book.pages %></p>
        <p class="fs-5"><strong>Publication Name: </strong><%= @book_seller.book.publisher_name %></p>
        <p class="fs-5"><strong>Publication Date: </strong><%= @book_seller.book.publication_date %></p>
        <p class="fs-5"><strong>Language: </strong><%= @book_seller.book.language %></p>
        <p class="fs-5"><strong>Product Description:</strong></p>
        <p class="text-muted"><%= @book_seller.book.description %></p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Back", book_sellers_path, class: "btn btn-outline-primary px-4" %>

    <% if user_signed_in? && current_user.role == "seller" %>
      <%= link_to "Edit", edit_book_seller_path(@book_seller), class: "btn btn-warning ms-3 px-4" %>
      <%= link_to "Delete", book_seller_path(@book_seller), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger ms-3 px-4" %>
    <% end %>
  </div>
</div>
